<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Grade</th>
            <th>Year</th>
        </tr>
        <% for(let book of books) { %>
            <tr>
                <td><a href="/books/<%= book.title %>"><%= book.title %></a></td>
                <td><%= book.grade %></td>
                <td><%= book.year %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>